body {
    background-color: #2c2f33;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
}
.github-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 70px;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.github-link:hover {
    background-color: #111;
}

h1, h2 {
    margin: 0;
}

button {
    background-color: #5865F2;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin: 8px 0;
}

.discord-card {
    display: flex;
    align-items: center;
    background: #1e1f22;
    padding: 16px;
    border-radius: 12px;
    width: 320px;
    margin: 40px 60px;
    color: white;
    box-shadow: 0 0 15px rgba(0, 255, 170, 0.2);
    font-family: 'Segoe UI', sans-serif;
}

.avatar-container {
    position: relative;
    width: 80px;
    height: 80px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.status {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 50%;
    border: 3px solid #1e1f22;
}

.status.online { background-color: #43b581; }
.status.idle { background-color: #faa61a; }
.status.dnd { background-color: #f04747; }
.status.offline { background-color: #747f8d; }

.right {
    margin-left: 16px;
}

#global-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

#username {
    margin: 4px 0;
    font-size: 14px;
    color: #aaa;
}

#custom-status,

#activity {
    font-size: 13px;
    margin: 2px 0;
    color: #ccc;
}
.music-controls {
    margin-top: 20px;
    margin-left: 60px;
}

#volumeSlider {
    width: 200px;
    margin-top: 8px;
}
